@import url("http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css");

html {
  font-size: 62.5%;
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: rgb(14, 122, 169)
}

a:hover{
  color: rgb(168, 60, 13);
}

/* Fonts and typography */

it, em{
  font-style: italic;
  font-weight: inherit;
}

b, strong{
  font-weight: 500 !important;
}

pre{
  font-family: 'source-code-pro';
}

code{
  font-family: 'source-code-pro';
  font-size: 109%;
}

body{
  text-align: left;
  font-family: "quattrocento-sans" !important;
  font-size: 2em;
  color: #1f1f1f;
  height:100%;
  margin: 0px auto;
  padding: 0px;
  max-width: 700px;
  font-weight: 300 !important;
  line-height: 1.5em;
}

.footer{
  font-weight: 200;
  color: rgb(100, 100, 100);
  border-top: 1px solid rgb(150, 150, 150);
  border-bottom: 1px solid rgb(150, 150, 150);
  margin: 1em 0em;
  margin-top: 2.5em;
  padding: 0.8em 0em;
  font-size: 0.7em;
  line-height: 1.4em;
}

#post h1{
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin-top: 1.2em;
  margin-bottom: 0.7em;
}

#post h1:first-child{
  margin-top: 0em;
}

#header{
  margin-top: 3em;
  margin-bottom: 1.2em;
}

#header h1{
  font-weight: bold;
  font-size: 2em;
}

#header h2{
  font-style: italic;
  margin-top: 0.9em;
}

#nav{
  color: rgb(100, 100, 100);
  border-top: 1px solid rgb(150, 150, 150);
  border-bottom: 1px solid rgb(150, 150, 150);
  margin: 1em 0em;
  margin-top: 2em;
  padding: 0.8em 0em;
  font-size: 0.9em;
  line-height: 1.4em;
  margin-bottom: 2.5em;
}

#nav ul li{
  display: inline;
  margin-right: 2em;
  font-size: 1.2em;
}

.authorphoto{
  margin: 0px auto;
  max-width: inherit;
  display: block;
}

.small-text {
  font-variant: small-caps;
}

img {
  max-width: 100%;
  height: auto;
}
