---
layout: default
title: Home
---

<div id='post'>
    {% for post in site.posts limit:5 %}
        <h1>{{ post.title }} &mdash; {{ post.shortbio }}</h1>
        {% if post.photo != null %}
        <img src="{{ post.photo }}" class="authorphoto"/><br>
        {% endif %}
        {{ post.blob }}
        <p />
        <a href="{{ site.dir }}{{ post.url }}">
            <span class="small-text">Read the whole interview ({{ post.content | number_of_words }} words)</span>
        </a>
        <hr class="gray-line">
    {% endfor %}
</div>

<div>
<br>
</div>
