<div class="footer">
This project is brought to you by <a href="http://nature.berkeley.edu/~kram/">Karthik Ram</a>, <a href="http://timotheepoisot.fr/">Timothée Poisot</a>, <a href="http://www.stanford.edu/~naupaka/">Naupaka Zimmerman</a>, and <a href="http://phdp.github.com/">Philippe Desjardins-Proulx</a>. Inspired by the <a href="http://usesthis.com/about/">The Setup</a>.
<a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a>
</div>
